.sidebar {
  width: 50px;                    /* collapsed width */
  background: #e9e9e9;
  min-height: 50vh;
  max-height: 90vh;
  padding: 3px 2px;
  /* border-radius: 20px; */
  box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.15);
  transition: width 0.25s ease;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.sidebar.expanded {
  width: 240px;                   /* expanded width */
}

.menu-top {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 10px;
  border-radius: 10px;
  color: #000;
  position: relative;
}

.menu-item:hover {
  background: #dcdcdc;
  cursor: pointer;
}

.icon {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.label {
  font-size: 17px;
  font-weight: 500;
}

/* Logout bottom */
.menu-bottom {
  margin-top: auto;
}

/* ------------------------
   TOOLTIP (Collapsed mode)
------------------------- */

.tooltip {
  position: absolute;
  left: 70px;
  background: #000;
  color: #fff;
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 14px;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-50%);
  top: 50%;
  white-space: nowrap;
  transition: opacity 0.2s ease;
}

.menu-item:hover .tooltip {
  opacity: 1;
}

/* -------------------
   RESPONSIVE TABLET
-------------------- */

@media (max-width: 768px) {
  .sidebar {
    width: 60px;
  }

  .sidebar.expanded {
    width: 200px;
  }

  .label {
    font-size: 15px;
  }
}
