.viewbid-container {
  font-family: "Poppins", sans-serif;
  padding: 30px;
  background: #f8f9fb;
}

.back-btn {
  background: none;
  border: none;
  font-size: 16px;
  color: #000;
  cursor: pointer;
  margin-bottom: 10px;
}

.tender-id {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 25px;
}

.vb-section {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 25px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

.vb-section h3 {
  font-size: 18px;
  margin-bottom: 15px;
}

.vb-desc {
  margin-bottom: 15px;
  line-height: 1.6;
  font-size: 14px;
}

.vb-table {
  width: 100%;
  border-radius: 10px;
  border-collapse: collapse;
}

.vb-table th {
  background: #cecece;
  padding: 10px;
  text-align: left;
  font-weight: 500;
}

.vb-table td {
  padding: 10px;
  font-size: 14px;
  background: #fff;
  border-bottom: 1px solid #eee;
}

.view-template-btn {
  background: black;
  color: #fff;
  padding: 8px 18px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

/* POPUP */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.35);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  background: #fff;
  padding: 25px;
  width: 580px;
  height:auto;
  border-radius: 10px;
  text-align: center;
}

.popup ul {
  text-align: left;
  margin: 15px 0;
}

.close-btn {
  margin-top: -40px;
  padding: 8px 18px;
  border: none;
  border-radius: 6px;
  background: #333;
  color: #fff;
  cursor: pointer;
}
