.tender-container {
  max-width: 1200px;
  margin: 20px auto;
  font-family: Arial, sans-serif;
  padding: 10px;
  color: #333;
}

.tender-header {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.back-btn {
  padding: 6px 12px;
  font-size: 16px;
  cursor: pointer;
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  background-color: transparent;
  color: #000000;
}

.tender-id {
  margin: 0;
}

.item-description {
  margin-bottom: 20px;
}

.item-description h3 {
  margin-bottom: 5px;
}

.table-section {
  margin-bottom: 30px;
  overflow-x: auto;
}

.table-section h3 {
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-radius: 8px;
  border-collapse: collapse;
  min-width: 600px;
}

th, td {
  padding: 10px;
  /* border: 1px solid #ddd; */
  text-align: left;
}

th {
  background-color: #9e9e9e;
}

.documents-section {
  margin-top: 20px;
}

.view-docs-btn {
  padding: 8px 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #464646;
  background-color: #000000;
  color: white;
}
